{% extends 'MainBundle:Template:sidebarWebiste.html.twig' %}
{% form_theme surveyForm 'MainBundle:form:horizontal.html.twig' %}


{% block title %}
Kreator ankiety
{% endblock %}

{% block link %}
{{ parent() }}
<link rel="stylesheet"
	href="{{ asset('bundles/main/css/datepicker.css')}}" />
{% endblock %}

{% block container %}


<div class="row">
	<div class="jumbotron vertical-center">
		<div class="page-header" style="padding-left: 50px">
			<h1>Kreator nowej ankiety</h1>
			<p>
				Wybiesz tytuł oraz krótką opisz oczym będzie Twoja ankietka. Wybiesz
				także jej podstawowe właściwości. </br> Wszystko bedziesz mógł póżniej
				zmienić.
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-0 col-md-10">
		{{  form_start(surveyForm) }}
		{{  form_row(surveyForm.survey) }}
		<div class="text-left">
			{{  form_row(surveyForm.save) }}
		</div>
		{{  form_end(surveyForm) }}
	</div>
</div>

{% endblock %}


{% block script %}
{{ parent() }}

<script src="{{ asset('bundles/main/js/surveys/newSurvey.js')}}"></script>
<script src="{{ asset('bundles/main/js/bootstrap-datepicker.js')}}"></script>

{% endblock %}
