{% extends 'MainBundle:Default:sidebar.html.twig' %}
{% form_theme form 'MainBundle:form:verticalEdit.html.twig' %}

{% block title %}

Twoje ankiety

{% endblock %}

{% block link %}

{{ parent() }}

{% endblock %}

{% block container %}
<div class="row">
	<div class="col-md-offset-1 col-md-6">
		<h1 class="page-header">
			{{  survey.title }}
		</h1>
	</div>
    </div>
    <div class="row bottom-buffer">
    	<div class="col-md-offset-1 col-md-6">
    		{{  survey.description }}
    	</div>
    
    </div>
    <div class="row">
    	<div id="form" class="col-md-offset-1 col-md-6">
    		{{ form(form) }}
    	</div>
    </div>
{% endblock %}

    {% block script %} 
          
             <script src="{{ asset('bundles/main/js/jquery2.js') }}"></script>
           <script type="text/javascript">

        		$(document).ready(function() {        

            	    $("button").click(function(){              
                    	var editWithID = $(this).attr('id');    // substring delete from "delete + ID"
            	    	var ID = editWithID.substring(5);       	     	
            	    	var url = "{{path('editQuestion', {'questionId' : 0})}}";    	
            	    	var result = url.substring(1, url.length-1);
            	    	url.slice(0,-2);
            	    	window.location.replace(result + ID ); 
                    });
           	    });
   
            </script>
          
            
    {% endblock %}


