{% extends 'MainBundle:Default:sidebar.html.twig' %}

{% block title %}

  	Twoje ankiety
	
{% endblock %}

{% block link %}

  	{{ parent() }}
	
{% endblock %}

{% block container %}
    <h1 class="page-header">
    	Twoje ankiety                    
    </h1>    
    <div class="row">
        <div class="col-lg-6">                    
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                         	<th>#</th>
                            <th>Tytuł</th>
                            <th>Opis</th>                                       
                        </tr>
                    </thead>
                    <tbody>
                     {% for survey in surveys %}
						 <tr>
						    <td>
						    	<a href="{{ path('showSurvey', {'surveyId': survey.id}) }}">{{ loop.index }}</a>
    						</td>
							<td>
							    {{ survey.title }}
							</td>
                        	<td>
                        	    {{survey.description }}
                        	</td>
                        	<td>
                        		<a href="{{ path('delete', {'surveyId': survey.id}) }}">Usuń</a>
                        	</td>
						 </tr>
					 {% else %}
      					 <tr>
						    <td>-</td>
							<td>-</td>
                        	<td>-</td>
						 </tr>
					 {% endfor %}                                 
                    </tbody>
                </table>
            </div>
        </div>                   
    </div>               
{% endblock %}

