{% extends 'MainBundle:Template:sidebarWebiste.html.twig' %}
{% form_theme form 'MainBundle:form:verticalEdit.html.twig' %}

{% block title %}

Twoje ankiety

{% endblock %}

{% block link %}

{{ parent() }}

<style>
.vertical-center {
	display: flex;
	align-items: center;
}

.panel-heading {
	background: #C4DF9F;
	padding: 5px;
}

.panel-warning .panel-heading {
	background: #E0E0E0;
}
</style>

{% endblock %}

{% block container %}

<div class="row">
	<div class="jumbotron vertical-center" style="height:150px">
		<div class="page-header" style="padding-left: 50px">
			<h1>Panel edycji</h1>
		</div>
	</div>
</div>

<div class="col-md-offset-1 col-md-10">

	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-right">
					<button id='editSurveyBtn' type="button" class="btn btn-default btn-sm edit"
						{{ block('widget_attributes') }}>
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edytuj
						tytuł i opis
					</button>
				</div>
			</div>
			<div class="panel-body">
				<h2>
					{{ survey.title }}
				</h2>
				<p>
					{{  survey.description }}
				</p>
			</div>
		</div>
	</div>

	{{ form(form) }}
	<div class="bottom-buffer top-buffer-30 text-right">
		<a href="{{ path('newQuestion', {'surveyId': survey.Id}) }}"
			class="btn btn-default" role="button"> <i class="fa fa-plus"
			aria-hidden="true"></i> Dodaj nowe pytanie
		</a>
	</div>


</div>
{% endblock %}

{% block script %}

{{ parent() }}
<script type="text/javascript">

        		$(document).ready(function() {        
            	    $(".edit").click(function(){                        	    	
                    	var editWithID = $(this).attr('id');    // substring delete from "delete + ID"
            	    	var ID = editWithID.substring(5);  
            	    	var url = '../editQuestion/';
            	    	
            	    	window.location.href = url + ID;
                    });

            	    $(".delete").click(function(){                        	    	
                    	var deleteWithID = $(this).attr('id');   
            	    	var ID = deleteWithID.substring(5);  
            	    	var url = '../deleteQuestion/';
            	    	
            	    	window.location.href = url + ID;
                    });

            	    $(".moveUp").click(function(){                        	    	
            	    	var moveUpWithID = $(this).attr('id');   
            	    	var ID = moveUpWithID.substring(5);  
            	    	var url = '../changePositionQuestion/';
            	    	var schift = '/1';
            	    	
            	    	window.location.href = url + ID + schift;
                    });

            	    $(".moveDown").click(function(){                        	    	
            	    	var moveDownWithID = $(this).attr('id');   
            	    	var ID = moveDownWithID.substring(5);  
            	    	var url = '../changePositionQuestion/';
            	    	var schift = '/-1';
            	    	
            	    	window.location.href = url + ID + schift;
                    });

            	    $("#deleteSurveyBtn").click(function(){                        	    	
            	    	var url = "../deleteSurvey/" + {{ survey.id }};            	            	    	
            	    	window.location.href = url;
                    });

            	    $("#editSurveyBtn").click(function(){                        	    	
            	    	var url = "../editSurvey/" + {{ survey.id }};            	            	    	
            	    	window.location.href = url;
                    });
                    

            	    var $set = $('.panel-question');
            	    var length = $set.length;
            	    $set.each(function(index) {
                	    if(index == 0)
            				$(this).find('.moveUp').remove();
                	    if (index == length - 1) {
                	    	$(this).find('.moveDown').remove();
                        }
            		});

                    
           	    });
   
            </script>

{% endblock %}


