<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{ question.questionText }}
				</h3>
			</div>
			<div class="panel-body">
				<div id="morris-bar-chart{{ question.id }}"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	 // Bar Chart
    Morris.Bar({
        element: 'morris-bar-chart{{ question.id }}',
      
        data: [
      	  {% for option in options %}   
      	  {
      		  label: '{{ option.optionText }}',
              data:  '{{option.answerNumber}}'
      	  },       	 
          {% endfor %}       
      ],
        xkey: 'label',
        ykeys: ['data'],
        labels: ['Liczba odpowiedzi'],
        barRatio: 0.4,
        xLabelAngle: 35,
        hideHover: 'auto',
        resize: true
    });

});
   
</script>
