{% extends 'MainBundle:Template:normalWebsiteWithBar.html.twig' %}
{% form_theme form 'MainBundle:form:horizontal.html.twig' %}

{% block title %}
Rejestracja - Ankietka
{% endblock %}

{% block link %}
{{ parent() }}
<style type="text/css">
body {
	background: url("{{ asset('bundles/main/img/apple.jpg')}}") no-repeat
		center center fixed;
	height: 100%;
	background-size: cover;
}
</style>
{% endblock %}


{% block headline %}

{% endblock %}

{% block container %}

<div class="col-md-10 col-md-offset-1 top-buffer">

	<div class="panel panel-default panel-transparent">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-lock"></span> Rejestracja
		</div>
		<div class="panel-body">
			<div class="col-md-10 col-md-offset-1">
				<h1>Dołącz do nas!</h1>
				<p class="bottom-buffer">Wypełnij formularz rejestracyjny, a
					następnie przeprowadzać swoją pierwszą ankiete!</p>
				{{ form_start(form) }}
				{{ form_row(form.user.email) }}
				{{ form_row(form.user.plainPassword) }}

				{% set terms_link %}
				<a title="Przeczytaj regulamin" href="{{ path('terms') }}">Regulamin</a>
				{% endset %}
				{% set general_terms %}
				{{ '  Przeczytałem %general_terms%'|trans({ '%general_terms%': terms_link })|raw }}
				{% endset %}
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-6">
						<div class="checkbox">
							{{ form_widget(form.terms, { 'label':  general_terms|raw }) }}
							{{ form_errors(form.terms) }}
						</div>
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>

		<div class="panel-footer"></div>
	</div>
</div>

{% endblock %}


