<!DOCTYPE html>
<html lang="pl-PL">
<head>
   	<meta charset="UTF-8">
   	
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Ankieter{% endblock %}</title>
    
   {% block link %}
      	 <link href="{{ asset('bundles/main/css/bootstrap.min.css')}}" rel="stylesheet">
      	 <link href="{{ asset('bundles/main/css/sb-admin.css') }}" rel="stylesheet">
		 <link href="{{ asset('bundles/main/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
   {% endblock %} 
</head>
<body>    
        {% block nav %}                   
               
        {% endblock %}
     	
        {% block mainContainer %}
		{% endblock %}              
        
        
        {% block script %} 
         	<script src="{{ asset('bundles/main/js/jquery2.js') }}"></script>
            <script src="{{ asset('bundles/main/js/bootstrap.min.js') }}"></script>    
        {% endblock %}
</body>
</html>
