{% extends 'MainBundle:Template:base.html.twig' %}

{% block title %}
Ankietka
{% endblock %}

{% block link %}
{{ parent() }}
<link href="{{ asset('bundles/main/css/normalPage.css')}}" rel="stylesheet">
{% endblock %}

{% block nav %}
{% endblock %}


{% block mainContainer %}

    {% block headline %}
    {% endblock %}
    
    
    
    {% block container %}
    
    {% endblock %}

<div class="spacer"></div>
<footer>
	<div class="text-center">
		<div class="col-md-3 col-md-offset-1 text-left">
			<a class="btn" href="{{ path('about') }}" style="color: #777"> Onas</a>
			<a class="btn" href="{{ path('about') }}" style="color: #777"> Kontakt</a>
			<a class="btn" href="{{ path('terms') }}" style="color: #777"> Regulamin</a>
		</div>
		<div class="col-md-4 top-buffer-10">
				<small class="text-muted"> Copyright © Ankietka 2016. All right reserved</small>
		</div>
	</div>
</footer>

{% endblock %}







