{% extends 'MainBundle:Template:base.html.twig' %}

{% block title %}  
{% endblock %}

{% block link %}
  	{{ parent() }}
  	<link href="{{ asset('bundles/main/css/sidebar.css')}}" rel="stylesheet">
{% endblock %}

{% block nav %}	 
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">  
			<div class="navbar-header">                   
               <a class="navbar-brand" href="{{ path('home') }}"> 	<img src="{{ asset('bundles/main/img/ankietka13.png') }}" alt="Ankieta" width="90%" height="90%">  </a>                                 
            </div>  	
                        
            <ul class="nav navbar-right top-nav">               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.username }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('profil') }}"><i class="fa fa-fw fa-user"></i> Profil</a>
                        </li>     
                        <li>
                             <a href="{{ path('panel') }}"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp; Panel ankiet</a>
                        </li>                                                  
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('logout') }}"><i class="fa fa-fw fa-power-off"></i> Wyloguj się</a>
                        </li>
                    </ul>
                </li>
            </ul>
              
          	<div class="collapse navbar-collapse navbar-ex1-collapse">    
         		{% 
         		    set sideMenu = [
                        {'path' : 'panel', 'name': ' Statystyki', 'icon': 'fa fa-fw fa-object-ungroup'},
                        {'path' : 'showAllSurveys', 'name': ' W przygotowaniu', 'icon': 'fa fa-fw fa-pencil-square-o'},
                        {'path' : 'showAllSurveys', 'name': ' Aktywne', 'icon': 'fa fa-fw fa-hourglass-half'},
                        {'path' : 'showAllSurveys', 'name': ' Zakokończone', 'icon': 'fa fa-fw fa-hourglass-end'},
                    ]
         		%}
                <ul class="nav navbar-nav navbar-tabs side-nav">
                    {% for item in sideMenu %}
                    	<li {{ app.request.get('_route') == item['path'] ? 'class="active"' : ''}}>
                            <a href="{{ path(item['path']) }}"><i class="{{ item['icon'] }}" aria-hidden="true"></i>{{ item['name'] }}</a>
                        </li>  
                    {% endfor %}                            
                </ul>
		  </div>  
     </nav>        
{% endblock %}

{% block mainContainer %}
     <div id="wrapper">
	<div id="page-wrapper">
		{% block container %}

		{% endblock %}
	</div>
</div>       
{% endblock %}


{% block script %}   
          {{ parent() }}
{% endblock %}


