{% extends 'MainBundle:Template:normalWebsiteWithBar.html.twig' %}


{% block headline %}
<div class="jumbotron-img vertical-center">
	<div class="row">
		
			<img src="{{ asset('bundles/main/img/Ankietka13.png') }}" alt="Ankieta"
				width="50%" height="50%">
		
		

	</div>
</div>

{% endblock %}

{% block container %}
<div class="row">
	<div class="col-sm-9">
		<h1>Witaj w Ankietka</h1>
		<p>Zaloguj się przy użyciu swojego adresu e-mail i hasła, by
			odkryć naszą nową stronę internetową!</p>
	</div>
</div>
<div class="row top-buffer">
	<div class="col-sm-8">
		<div class="row">
			<div class=" col-sm-6">
				<div id="lastSurveys">
					{{ render(controller('MainBundle:Widgets:lastSurveys',{ 'max': 3 })) }}
				</div>
			</div>
			<div class="col-sm-6">
				<div id="lastSurveys">
					{{ render(controller('MainBundle:Widgets:popularSurveys',{ 'max': 3 })) }}
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 dd">
		{{ render(controller('MainBundle:Widgets:allSurveys')) }}
		{{ render(controller('MainBundle:Widgets:allResults')) }}
	</div>
</div>


{% endblock %}




