{% extends 'MainBundle:Template:normalWebsiteWithBar.html.twig' %}

{% block title %}
	Nasze najnowsze ankiety
{% endblock %}

{% block container %}
<div class="container top-buffer-30 bottom-buffer-30">
	<div class="page-header page-heading">
		<h1 class="pull-left">Najnowsze ankiety</h1>
		<div class="clearfix"></div>
	</div>
	<table class="table forum table-striped">
		<thead>
			<tr>
				<th>
					<h3>Ankieta</h3>
				</th>
				<th class="cell-stat-2x hidden-xs hidden-sm col-md-2 text-right">
					Data dodania</th>
			</tr>
		</thead>
		<tbody>
			{% for survey in surveys %}
			<tr>
				<td>
					<h4>
						<a href="{{ path('survey', {'surveyId': survey.id}) }}">{{ survey.title }}</a><br>
						<small>{{survey.description }}</small>
					</h4>
				</td>
				<td class="text-right"><small> {{survey.addedDate|time_diff}}</small>
				</td>
			</tr>
			{% else %}
			<tr>
				<td>-</td>
				<td>-</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="text-center">
		{{ render(controller('MainBundle:Widgets:paginationWidget',{'actualPage' : actualPage, 'numberOfPages': numberOfPages})) }}

	</div>
</div>

{% endblock %}

