<div>
	<ul class="pagination">
		<li><a href="{{ path('surveys', {'page': previousPage }) }}">&laquo;</a></li>
		{% for i in firstPage..lastPage %}
    		{% if loop.index + firstPage -1  == currentPage %}
    			<li><a href="{{ path('surveys', {'page': i }) }}"><b>{{ i }}</b></a></li>
    		{% else %}
    			<li><a href="{{ path('surveys', {'page': i }) }}">{{ i }}</a></li>
    		{% endif %}
		{% endfor %}
		<li><a href="{{ path('surveys', {'page': nextPage }) }}">&raquo;</a></li>
	</ul>
</div>